.border-image {
    border       : 2px solid rgb(236, 156, 156);
    border-radius: 5px;
    margin-right : 10px;
    width        : 250px;
    margin-top   : 5rem;

    .images {
        width : 230px;
        height: 250px;
    }
}